/* Import des modules CSS */
@import url('styles/variables.css');
@import url('styles/base.css');
@import url('styles/card.css');
@import url('styles/weather-section.css');
@import url('styles/charts.css');
@import url('styles/status.css');
@import url('styles/animations.css');
@import url('styles/responsive.css');